<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fuentes -->
    <link href="{% static 'core/css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/materialize.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
    
</head>
<body>
    <!-- Contenido -->
    {% block content %}{% endblock %}
    <!-- Javascript -->
    <script src="{% static 'core/js/jquery.min.js' %}"></script>
    <script src="{% static 'core/js/materialize.min.js' %}"></script>
    {% block script_block %}{% endblock %}
</body>
</html>
