{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="">
        {% include 'core/includes/core_menu.html' %}
        <section class="row">
            <p>
                <h2>Bienvenido<b>Humedad: {{data_sensor.humedad_ambiental}}</b></h2>
            </p>
        {% if cultivo_list %}
            <h1>Cultivos creados</h1>
        {% else %}
            <h2>No hay cultivos creados</h2>
        {% endif %}
        <!-- {{cultivo_list}} -->
        <article class="col s9 m9 margen-login">
            <div class="row">
                {% for cultivo in cultivo_list %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img style="height: 105px;" src="{% static 'core/img/lechuga.jpg' %}">
                        </div>
                        <div class="card-content">
                                <span class="card-title">{{cultivo.nombre}}</span>
                            <p><b>{{cultivo.sensor.latidude}}</b> Latitude</p><br>
                            <p>Alerta nivel de luminisidad altos</p>
                        </div>
                        <div class="card-action yellow darken-1">
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>
    
    </div>
{% endblock %}