.fondo {
    width: 100%;
    height: 830px;
    max-height: 1080px;
	max-width: 1920px;
    background-image: url('../img/portada.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.margen-logo {
    margin-top: 250px;
}
.margen-login {
    margin-top: 125px;
}
.logo img {
    width: 125px;
}

/* Menu vertical */
.nav-horizontal {
    width: 100%;
    height: 600px;
    max-height: 600px;
}
.activar {
    background-color: #006064;
    opacity: .9;
}
.nav-horizontal ul {
	list-style: none;
	display: block;
}
.nav-horizontal li {
    width: 100%;
	height:50px;
	overflow: hidden;
}
.nav-horizontal li h5 {
    color: white;
    text-align: center;
}
.nav-horizontal p.menu{
	position: relative;
	padding:6px;
	padding-left: 15px;
	float:left;
	color:white;
	opacity: .9;
	font-size: 1.3em;
	-webkit-transition: opacity .2s;
}
.nav-horizontal div.barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: rgb(10, 10, 10);
	opacity: .4;
	-webkit-transition: width .2s;
}
.nav-horizontal  li:hover div.barra{
	width:250px;
}
.nav-horizontal li:hover p.menu{
	opacity: 1;
}

/* -------------- */

/* targeta img  */